<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">We are a Portland Oregon based Design-Build company taking on residential and commercial projects of all sizes.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1990</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 1990, founder <a class="page-scroll" href="#team">Taka Nakagawa</a> moved to Portland Oregon from Nagoya Japan and began working as a carpenter remodeling old homes in the Irvington and Laurelhurst areas.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2004</h4>
                                    <h4 class="subheading">Sakura is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">By now it was time to take an official name. Now caring for and staffing multiple large projects in both commercial and residential applications, the ball was definately rolling. Sakura has been realized.</p>
                                </div>
                            </div>
                        </li>                       
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2012</h4>
                                    <h4 class="subheading">Bridge Over the Ocean</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finding more time to branch out over some years of growth, Sakura begins building relationships with builders and archtiects in Japan who do business in the North West, and begins offering consulting services.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">Rebirth</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After a brief hiatus, and much surfing, and with the introduction of <a href="#team" class="page-scroll">new talent</a>, Sakura is refreshed and plugging itself back in to the Portland market.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a class="be-a-part page-scroll" href="#contact"><h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>