<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <h3 class="section-subheading text-muted services-statement">Wether you have a plot of dirt, an old house, a gigantic building, or anything else that needs attention, we can help. We are taking on residential and commercial projects of <a href="#portfolio" class="page-scroll">all shapes and sizes</a> and have years of experience designing, developing, building, and seeing projects through.</h3>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">We love to design, sketch on napkins, convert ideas into plans, visit further over plans, have a beverage, and bring visions into reality.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Build</h4>
                    <p class="text-muted">We do the building too. As carpenters ourselves, you'll see us eager to start breaking ground and making sawdust.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Partner</h4>
                    <p class="text-muted">We love to meet new people and are fortunate to have made many lasting relationships with clients, designers, architects and tradespeople.</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="section-heading">And You</h3>
                    <h3 class="section-subheading text-muted services-statement">We'd like to know what you are planning and what we can do to help.</h3>
                    <a href="#contact" class="page-scroll btn btn-primary btn-lg">Get in touch</a>
                </div>
            </div>

        </div>
    </section>