<!-- Team Section -->
    <section id="testimonial" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">Testimonial</h2>
                  <p class="large text-muted">“We have worked with Taka on multiple projects from large to small and have always enjoyed the process and the result. The most significant is a large Japanese style master bathroom with glass enclosed walk-in shower / jacuzzi tub combination. It has become a defining feature of our home and an investment which can be appreciated now.”
                  <br>- Burt and Kikuyo Jurgens, Mt. Tabor</p>
                </div>
            </div>
        </div>
    </section>
